body {
  font-family: "Trebuchet MS";
}
/* controls */
.container {
  position: fixed;
  z-index: 10;
  background-color: #ccc;
  padding: 2px;
}
.container#top-left-container {
  top: 5px;
  left: 5px;
}
.container#top-right-container {
  top: 5px;
  right: 5px;
}
.container#bottom-left-container {
  bottom: 5px;
  left: 5px;
}
.container#bottom-right-container {
  bottom: 5px;
  right: 5px;
  text-align: right;
  /* hyperlinkes */
}
.container#bottom-right-container a {
  text-decoration: none;
  font-style: italic;
  color: black;
}
.container#bottom-right-container a:hover {
  color: white;
}
#top-center-outer-container {
  position: fixed;
  top: 5px;
  width: 100%;
  padding: 2px;
}
#title {
  background-color: #ccc;
  padding: 4px;
  font-size: 18pt;
}
#bottom-center-outer-container {
  position: fixed;
  bottom: 5px;
  width: 100%;
}
#toggle {
  font-family: "Trebuchet MS";
  font-size: 12pt;
}
#toggle:hover {
  color: white;
}
/*graph workspace */
.node.selected circle {
  fill: steelblue;
}
.node text {
  opacity: 0.5;
}
.node:hover text {
  opacity: 1;
}
.link {
  stroke: gray;
  opacity: 0.5;
}
.nodeContainer .node text {
  opacity: 0.5;
}
.nodeContainer .node.selected circle {
  fill: steelblue;
}
.nodeContainer .node:hover text {
  opacity: 1;
}
.linkContainer .link {
  stroke: gray;
  opacity: 0.5;
}
/* node search */
.node-search-container input {
  font-size: 12pt;
  outline: none;
}
.node-search-container .tt-dropdown-menu {
  background-color: #ccc;
  width: 100%;
  max-height: 307;
  overflow-y: auto;
}
.node-search-container .tt-dropdown-menu .tt-suggestions {
  padding-left: 2px;
}
.node-search-container .tt-dropdown-menu .tt-suggestions .tt-suggestion {
  margin-left: 2px;
}
/* stats */
.graph-stats-container .graph-stat {
  color: white;
}
/* cdf */
.link-cdf {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.link-cdf .threshold-line {
  stroke: #EEE;
  stroke-width: 3px;
  cursor: ew-resize;
}
.link-cdf.drag {
  cursor: ew-resize;
}
.link-cdf.drag .threshold-line:hover {
  stroke: #FFF;
}
.cdf {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.cdf .axis text {
  font-size: 6pt;
}
.cdf .axis path,
.cdf .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.cdf .axis .label {
  font-size: 10pt;
  text-anchor: middle;
}
.cdf path {
  fill: steelblue;
}
/* node profiles */
.node-profile-helper {
  max-height: 50%;
  overflow: scroll;
}
.node-profile-helper .node-profile {
  background-color: #ccc;
  border: 1px solid white;
  padding: 2px;
  margin: 2px;
}
.node-profile-helper .node-profile .node-profile-property {
  font-size: 12px;
}
