/* overall font */
body, .node-search-container input {font-family: "Trebuchet MS";}

/* container positioning */
.container {position: fixed; z-index: 10; background-color: #ccc;  padding: 2px;}
#top-left-container { top: 5px; left: 5px; }
#top-right-container { top: 5px; right: 5px; }
#bottom-left-container { bottom: 5px; left: 5px;}
#bottom-right-container {bottom: 5px; right: 5px; text-align: right; }

/* title */
#top-center-outer-container {position: fixed; top: 5px; width: 100%; padding: 2px;}
#title {background-color: #ccc; padding: 4px; font-size: 18pt;}

/* hide stuff */
#bottom-center-outer-container {position: fixed; bottom: 5px; width: 100%;}
#toggle { font-family: "Trebuchet MS"; font-size: 12pt; }
#toggle:hover {color: white;}

/* graph workspace */
.node circle {}
.node.selected circle {fill: steelblue;}
.node text {opacity: 0.5; }
.node:hover text {opacity: 1; }
.link {stroke: gray; opacity: 0.5;}

/* node search */
.node-search-container input {font-size: 12pt; outline: none;}
.tt-dropdown-menu {background-color: #ccc; width: 100%; max-height: 307; overflow-y: auto;}
.tt-is-under-cursor { color: white; }
.tt-suggestions { padding-left: 2px;}
.tt-suggestion { margin-left: 2px;}

/* stats */
.graph-stat {color: white;}

/* cdf */
.link-cdf, .cdf {margin-left: auto; margin-right: auto; width: 200px; }
.cdf .axis text {font-size: 6pt;}
.cdf path {fill: steelblue;}
.cdf .axis path,
.cdf .axis line {fill: none; stroke: #000; shape-rendering: crispEdges; }
.cdf .axis .label {font-size: 10pt; text-anchor: middle;}
.cdf-header {text-align: center; }
.threshold-line {stroke: #EEE; stroke-width: 3px; cursor: ew-resize;}
.link-cdf.drag {cursor: ew-resize;}
.link-cdf.drag .threshold-line, .threshold-line:hover {stroke: #FFF;}

/* hyperinks */
#bottom-right-container a { text-decoration: none; font-style: italic; color: black;}
#bottom-right-container a:hover {color: white;}

/* node profiles */
.node-profile-helper {max-height: 50%; overflow: scroll; }
.node-profile {background-color: #ccc; border: 1px solid white; padding: 2px; margin: 2px;}
.node-profile-title {}
.node-profile-property {font-size: 12px; }
