/* overall font */
body, .node-search-container input {font-family: "Trebuchet MS";}

/* plugin container */
.plugin-container {position: fixed; z-index: 10; padding: 2px; box-sizing: border-box; right: 10px; overflow: hidden; min-width: 240px;}
.plugin-container .plugin-wrapper {width: 100%; padding-top: 2px; padding-bottom: 2px;}

.plugin-container .plugin-wrapper .plugin-controls {background-color: steelblue; padding: 2px;}

.plugin-container .plugin-wrapper .plugin-controls .header {color: lightgrey;}
.plugin-container .plugin-wrapper .plugin-controls .header:hover {cursor: pointer;}

/* down arrow */
.plugin-container .plugin-wrapper .plugin-controls .arrow{float: right; margin-top: 6px; margin-right: 5px; width: 0; height: 0; border-top: 5px solid lightgrey; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 0px solid lightgrey;}
/* left arrow */
.plugin-container .plugin-wrapper.collapsed .plugin-controls .arrow {margin-top: 4px; margin-right: 8px; border-left: 0px solid lightgrey; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid lightgrey;}


/* graph workspace */
.node circle {}
.node.selected circle {fill: steelblue;}
.node text {opacity: 0.5; }
.node:hover text {opacity: 1; }
.link {stroke: gray; opacity: 0.5;}

/* node search */
.node-search-container input {font-size: 12pt; outline: none;}
.tt-dropdown-menu {background-color: #ccc; width: 100%; max-height: 307; overflow-y: auto;}
.tt-is-under-cursor { color: white; }
.tt-suggestions { padding-left: 2px;}
.tt-suggestion { margin-left: 2px;}

/* stats */
.graph-stat {color: black;}

/* cdf */
.link-cdf, .cdf {margin-left: auto; margin-right: auto; width: 200px; }
.cdf .axis text {font-size: 6pt;}
.cdf path {fill: steelblue;}
.cdf .axis path,
.cdf .axis line {fill: none; stroke: #000; shape-rendering: crispEdges; }
.cdf .axis .label {font-size: 10pt; text-anchor: middle;}
.cdf-header {text-align: center; }
.threshold-line {stroke: steelblue; stroke-width: 3px; cursor: ew-resize;}
.link-cdf.drag {cursor: ew-resize;}
.link-cdf.drag .threshold-line, .threshold-line:hover {stroke: #FFF;}

/* hyperinks */
#bottom-right-container a { text-decoration: none; font-style: italic; color: black;}
#bottom-right-container a:hover {color: white;}

/* node profiles */
.node-profile-helper {max-height: 50%; overflow: scroll; }
.node-profile {background-color: #ccc; border: 1px solid white; padding: 2px; margin: 2px;}
.node-profile-title {}
.node-profile-property {font-size: 12px; }
