# standard dependencies
numpy==1.7.1
CherryPy==3.2.4
networkx==1.8.1
simplejson==3.3.0
wsgiref==0.1.2

# These need to be installed after the above have been completely installed
# So once pushed to heroku once, uncomment the lines below and push again
# Divisi2==2.2.5
# csc-pysparse==1.1.1.4
# csc-utils==0.6.7
