!!! 5
meta(charset='utf-8')
html
  head
    title WikiNets2
    
    link(rel='stylesheet/less', type='text/css', href='wikinets-defaults.less')

    script(type='text/javascript', data-main="main", src="/celestrium_code/lib/require.js")

  body
    #buildbar

      #header
        h1(style='margin-bottom: 5px; margin-left: 10px;')
          a(href='http://thewikinetsproject.wordpress.com/') WikiNets

    #maingraph