!!! 5
meta(charset='utf-8')
html
  head
    title Rhizi

    link(rel='stylesheet/less', type='text/css', href='/less/wikinets-defaults.less')
    link(rel='stylesheet', type='text/css', href='/lib/visualsearch-datauri.css', media='screen')
    link(rel="stylesheet", href="colorPicker.css", type="text/css")
    link(rel="stylesheet", type="text/css", href="/less/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(href="/lib/chardinjs.css", rel="stylesheet")
    

    script(type='text/javascript', data-main="main", src="/lib/require.js")

  body
    #maingraph

    #buildbar
      #menuButton Rhizi 
        i(style="font-size:14px")

      #omniBox

    div(id="toolbox",data-intro='Adjust graph visual settings or show a minimap',data-position='top')
      //div(style="background:url('images/icons/gray_dark/cog_24x24.png')",class="toolboxitempopout",id="settings")
      div(style="",class="toolboxitempopout",id="help")
        i(class="fa fa-question")
      div(style="",class="toolboxitempopout",id="slidersButton")
        i(class="fa fa-tasks")
      //div(style="height:21px;background:url('images/icons/gray_dark/list_nested_24x21.png')",id="listviewButton")
      //div(style="background:url('images/icons/blue/share_24x24.png')",id="graphviewButton")
      //div(style="background:url('images/icons/gray_dark/undo_24x24.png')",id="undo")
      div(style="",class="toolboxitempopout",id="minimapButton")
        i(class="fa fa-crosshairs")
      div(style="",class="toolboxitempopout",id="moreoptionsButton")
        i(class="fa fa-ellipsis-h")

    div(id="navigation",data-intro='Zoom in and out of graph (Or use mouse scroll)',data-position='top')
      div(id="zoomin")
        i(class="fa fa-plus")
      div(id="zoomout")
        i(class="fa fa-minus")
      //div(style="background:url('images/icons/gray_dark/plus_24x24.png')",id="zoomin")
      //div(style="background:url('images/icons/gray_dark/minus_24x6.png')",id="zoomout")

    div(id="chardinhelper",data-intro="General Information:<br/><br/>- Drag to move view<br/>- Scroll to zoom in and out<br/>- Select a node or link to view or edit its data<br/>- Shift click to select multiple nodes",data-position="top",style="position:absolute;bottom:0px;left:400px;height:1px;width:400px")
