!!! 5
meta(charset='utf-8')
html
  head
    title WikiNets

    link(rel='stylesheet/less', type='text/css', href='wikinets-defaults.less')
    link(rel='stylesheet', type='text/css', href='/lib/visualsearch-datauri.css', media='screen')
    link(rel="stylesheet", href="colorPicker.css", type="text/css")
    link(rel="stylesheet", type="text/css", href="font-awesome/css/font-awesome.min.css")

    script(type='text/javascript', data-main="main", src="/lib/require.js")

  body
    #maingraph

    #buildbar
      h1(style='')
        a(href='http://www.wikinets.co.uk/', target='_blank') W
      
      #omniBox

    #toolbox
      div(style="background:url('images/icons/gray_dark/cog_24x24.png')",class="toolboxitempopout",id="settings")
      div(style="width:12px;background:url('images/icons/gray_dark/question_mark_12x24.png')",class="toolboxitempopout",id="help")
      div(style="background:url('images/icons/gray_dark/equalizer_24x24.png')",class="toolboxitempopout",id="slidersButton")
      div(style="height:21px;background:url('images/icons/gray_dark/list_nested_24x21.png')",id="listviewButton")
      div(style="background:url('images/icons/blue/share_24x24.png')",id="graphviewButton")
      div(style="background:url('images/icons/gray_dark/undo_24x24.png')",id="undo")
      div(style="background:url('images/icons/gray_dark/sun_stroke_24x24.png')",class="toolboxitempopout",id="minimapButton")
      div(style="background:url('images/icons/gray_dark/eject_24x24.png')",class="toolboxitempopout",id="moreoptionsButton")

    #navigation
      div(style="background:url('images/icons/gray_dark/plus_24x24.png')",id="zoomin")
      div(style="background:url('images/icons/gray_dark/minus_24x6.png')",id="zoomout")
