!!! 5
meta(charset='utf-8')
html
  head
    title WikiNets
    link(rel='stylesheet', type='text/css', href='style.css')
    script(type='text/javascript', src='jquery-1.10.2.js')
    script(type='text/javascript', src='wikiscript.js')
    script(src='http://d3js.org/d3.v3.min.js')

  body
    h1 The Test page

    h2 All the grabbed data
    ul
      each data in displaydata
       li= JSON.stringify(data)+","

