  
  /*Typeahead dropdown css*/
  .tt-suggestions{ background-color: white; width: 150px; border: 1px solid #333333; padding: 5px; }
  .tt-suggestion{ border: 1px solid #333333; }
  .tt-is-under-cursor{ background-color: #e3edef; }

  /*Header css*/
  #header { background-color:white; }
  h1 a{ color:black; text-decoration:none; }
  h1 a:hover{ background:#e3edef; }

  /*WikiNet viz css*/
  .choose_menu {cursor: pointer;}
  .node { stroke: none; stroke-width: 1.5px; }
  .link { stroke: #999; stroke-opacity: .6; }

  /* Stuff moved out of the .jade file */
  #buildbar { color:#3b5d14; background:white; font-weight:bold; padding:4px; height:100%; width:300px; float:left; margin-left:10px; }
  #titler { background:#FFFFFF; font-size:18px; color:#000000; text-align:center; width:290px; height:30; }
  #nodeKeyValues { width:290px; display:none; font-weight:normal; color:black; }

  /*Css for the sidebar*/
  ul, li{ margin:0; border:0; padding:0; list-style:none; }

/* New tab navigation */
/* Tabs CSS code starts here */
.tabs_wrapper {
	width: 300px;
	margin: 5px;
}

.tab_content {
	display: none;
}

/* Original tabs */
#original_tabs {
        width: 302px;
	border-bottom: 1px solid #cccccc;
}
#original_tabs ul {
	list-style: none;
	padding: 5px 0 4px 0;
	margin: 0 0 0 10px;
	font-size: 0.75em;
}
#original_tabs ul li {
	display: inline;
}
#original_tabs ul li a {
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	background-color: #eeeeee;
	border-bottom: none;
	outline: none;
}
#original_tabs ul li a:hover {
	background-color: #dddddd;
}
#original_tabs ul li.active a {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	padding: 4px 6px 5px;
	border-bottom: none;
}
#original_tabs ul li.active a:hover {
	background-color: #eeeeee;
}
#original_tabs_content {
	border: 1px solid #ccc;
	border-top: none;
	padding: 1px;
	width: 298px;
}

